@use "../../assets/style/mixins" as mixin;


@keyframes animation{
    0%{
        transform:translateX(-300px);
    }50%{
        transform:translateX(300px);

    }100%{
        transform:translateX(-300px);
    }
}

.blocProjects{
    color:white;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    h2, p{
        text-align:center;
    }
    h2{
        font-size:2rem;
        margin-top:50px;
        @include mixin.md-lt{
            font-size:1.7rem;
        }
        @include mixin.sm-lt{
            font-size:1.5rem;
        }
    }
    p{
        margin-top:30px;
        font-size:1.5rem;
        @include mixin.md-lt{
            font-size:1.3rem;
        }
        @include mixin.sm-lt{
            font-size:1rem;
        }
    }
    .blocProjectsItem{
        margin-top:30px;
        animation:animation 100s linear infinite;
    }
    .blocCardsProject{
        max-width:1280px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:50px 0;
        display: grid;
        gap:30px;
        grid-template-columns: repeat(3, 390px);
        place-content: center;
        @include mixin.lg-lt{
            grid-template-columns: repeat(3, 350px);
            padding:0 15px;
        }
        @include mixin.md-lt{
            grid-template-columns: repeat(2, 350px);
            padding:0 15px;
        }
        @include mixin.sm-lt{
            grid-template-columns: repeat(1, 100%);
            width:100%;
        }
        .card{
            background-color:#264366;
            border-radius:10px;
            padding:20px 10px;
            height:350px;
            cursor:pointer;
            img{
                width:100%;
                border-radius: 10px;
                height:75%;
                object-fit: cover;
            }
            p{
                color:var(--white);
                font-size:1rem;
                text-align:left;
                margin:0 20px;
            }
        }
        .TitleCardProject{
            color:var(--white);
            margin:20px;
            font-size:1rem;
            font-weight:500;
        }
        .BlocModale{
            width:600px;
            height:600px;
            background-color:red;
            position:absolute;
            top:50%;
            left:50%;
            z-index:9999;
        }
    }
}


.colorLight{
    color:var(--primary) !important;
}

.colorDark{
    color:var(--dark)!important;
}