
:root{
    --primary: #264366;
    --white:#F1F4F7;
    --black:#000000;
    --yellow:#F7CF0C;
    // -----------------------font------------------ //
    --montserrat:'montserrat', sans-serif;
    --poppins:'Poppins', sans-serif;
    --quicksand:'Quicksand', sans-serif;
}