@use "../../assets/style/mixins" as mixin;

@keyframes animation {
    0%{
       transform:rotate(50deg)
    }
    50%{
        transform:rotate(-50deg)
    }
    100%{
        transform:rotate(50deg)
    }
}


.blocQualites{
    margin:150px 0;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    .blocQualitesItem{
       animation: animation 10s infinite forwards linear;
    }
    .blocQualitesTitle{
        font-size:1.5rem;
        font-weight:500;
        @include mixin.xs{
            font-size:1rem;
        }
    }
    .blocQualitesBloc{
        display:flex;
        gap:30px;
        @include mixin.md-lt{
                flex-direction: column;
            }
            
        .blocQualitesCard{
            display:flex;
            align-items: center;
            flex-direction: row;
            gap:50px;
            
            .blocQualitesCardTxt{
                color:var(--white);
                font-size:1rem;
                font-weight:600;
                background-color:var(--primary);
                width:400px;
                height:200px;
                position:relative;
                border-radius: 20px;
                @include mixin.lg-lt{
                    width:350px;
                }
                @include mixin.lg-l{
                    width:300px;
                }
               
                @include mixin.md-lt{
                    width:750px;
                }
                @include mixin.sm-lt{
                    width:350px;
                }
                @include mixin.xs{
                    width:350px;
                    font-size:14px;
                }
                @media screen and (max-width: 400px) {
                    height:150px;
                    width:300px;
                 }
                // @media screen and (max-width: ) {
                    
                // }
                h3{
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    z-index:9999;
                    font-size:1.3rem;
                    font-weight:500;
                    @include mixin.sm-lt{
                        font-size:1rem;
                    }
                    @media screen and (max-width: 400px) {
                        font-size:14px;
                     }
                }
                img{
                    object-fit: cover;
                    width:200px;
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    z-index:1;
                    @include mixin.sm-lt{
                        width:150px;
                    }
                }
            }
        }
    }
    

}